* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
  padding: 0;
}

.point {
  cursor: pointer;
}

body {
  background-color: #f3eded;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}


nav {
  height: 60px;
  background: deepskyblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 50px;
}

nav .logo {
  font-size: 33px;
  font-weight: 550;
  color: black;
}

nav .menu-btn i {
  font-size: 22px;
  color: #000;
  cursor: pointer;
  display: none;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 0 5px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .5px;
  color: black;
  padding: 8px 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}

nav ul li:hover {
  background-color: white;
}

#menu-click {
  display: none;
}

#nav-logIn{
  display: none;
}
@media screen and (max-width: 600px) {


  nav ul #profile {
    display: none;
  }

  nav ul {
    position: fixed;
    top: 60px;
    left: -100%;
    background: deepskyblue;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  nav ul li {
    margin: 20px 0;
    transition: none;
  }

  nav .menu-btn i {
    display: block;
  }

  nav ul li:hover {
    background: deepskyblue;
    color: white;
  }

  #menu-click:checked~ul {
    left: 0;
  }
 
}

/* .mynavbar {
  height: 60px;
  background-color: deepskyblue;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.header_list {
  display: flex;
  list-style-type: none;
}



.header_list li {
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
}

.header_list li:hover {
  color: deepskyblue;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}


.logo {
  font-weight: bold;
  font-size: 18px;
} */

a {
  text-decoration: none;
  color: #000;
}

.truncate {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: calc(1.2em * 2);
  /* Two lines */
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  /* Number of lines to show */
  -webkit-box-orient: vertical;
}

/* submenu start  */
.submenu-wrap {
  position: absolute;
  top: 100%;
  right: 0%;
  width: 280px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s;
}

.submenu-wrap.open-menu {
  max-height: 400px;
}

.submenu {
  background: gainsboro;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.menu {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
}

.menu:hover {
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  color: darkblue;
}

.submenu h3 {
  font-weight: 500;
  font-size: large;
}

/* submenu end  */

.loading {
  display: none;
  border: 4px solid #f3f3f3;
  /* Light grey */
  border-top: 4px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



footer {
  background-color: #34495e;
  padding-top: 20px;
  height: 200px;
  display: flex;
}

footer .links {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
}

footer .footer-logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links-head {
  color: white;
}

.footer_list {
  list-style-type: none;
  margin-top: 10px;
}

.footer_list li {
  color: white;
}

.footer_list li:hover {
  text-decoration: underline;
}

.footer-logo h1 {
  color: white;
}


@media screen and (max-width: 600px) {
  footer .links {
    width: 100%;
  }

  footer .footer-logo {
    display: none;
  }

  footer .links {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
}