nav ul #home{
  background-color: white;
}

.slidercontainer{
  position: relative;
  max-width: 100%;
 
  overflow: hidden;
}
.carousel-item img{
  width: 100%;
}
/* main container start  */
.mycontainer {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
}

.mycontainer.load {
  max-height: 100%;
}

/* main container end  */


/* product and categories start  */

.heading {
  font-size: x-large;
  margin: 10px;
}

.categories_container,
.bestseller_container,
.featured_container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.categories,
.bestsellers,
.featured {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .categories,
  .bestsellers,
  .featured {
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    gap: 5px;
  }
}

.category,
.product {
  padding: 15px;
  text-align: center;
  cursor: pointer;
}

.product p {
  text-align: start;
}

.category img,
.product img {
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
}

.price {
  color: deepskyblue;
  font-size: large;
}

/* product and categories end  */

