.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 10px;
}

.toptext {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.topimage {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/images/apple.jpg);
  background-size: cover;
}

.categories_container,.bestseller_container,.featured_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: white;
  gap: 20px;
  padding: 20px;
  margin: 10px;
}

.category,.product {
  padding: 15px;
  text-align: center;
}

.category img ,.product img {
  max-width: 100%;
  height: 150px;
  border-radius: 8px;
}

.price{
  color: deepskyblue;
  font-size: large;
}

.bankoffers {
  padding-left: 10px;
  padding-top: 10px;
  margin: 10px;
  background-color: white;
  height: 300px;
}

.bankofferlist {
  display: flex;
  align-items: center;
}

.offer {
  width: 25%;
  height: 200px;
  margin: 10px;
  background-image: url(/images/bank_offers.webp);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
