
.loading {
    display: none;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.product-container{
    display: flex;
    height: calc(100vh - 60px);
    background-color: white;
}

.product-image{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.product-image img{
   width: 300px;
   height: auto;
}

.product-details{
    width: 60%;
    padding: 20px;
}
.product-details h2{
    font-weight: 200;
    font-size: large;
    margin-bottom: 20px;
}
.product-details h3{
    font-size: large;
    margin-bottom: 20px;
    color: black;
}

